body{
    /* making the text bold throgh out the form */
     font-weight:600;

}
.container{
    border:1px solid black;
    display:grid;
    grid-column-gap:20px;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 155px 200px;
    grid-auto-rows:200px;
     grid-row-gap: 15px;
    background-color: rgba(212, 210, 210, 0.801);

}
  .containerone{
      grid-column: 3/-1;
      height:435px;
      margin:auto;
      margin-top:25px;
      padding-top:10px;
      padding-left:15px;
      padding-right:15px;
  }
  .customcolor{
      background-color:rgb(192, 192, 190);
  }
  .fieldsetone{
      height:135px;
  }
  .fieldsettwo{
      height:180px;
  }
  
  .btn{
      color:black;
      height:40px;
      background-color:rgb(192, 192, 190);
  }
  .valuebuttons{
      width:100px;
      border-radius:5px;
  }
  #lastbutton{
      width:100px;
      border-radius:5px;
      float:right;
  }
  
  small{
      color:red;
  }
  h3{
      text-align: center;
      font-weight: 300px;
      color:rgb(63, 62, 62);
  }